<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">

    <!-- Appel de la Feuille de style minifiée De l'extension Datepicker -->
  <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <script src="https://kit.fontawesome.com/0bee184211.js" crossorigin="anonymous"></script>
    </head>
  <body>
    
    <%- include('navbar'); %>

    <div class="home my-5 ">

      <div class="row d-flex justify-content-center ">

        <!-- FIND TICKET -->
        <div class="col-12 col-sm-6 text-center">

          <div class="formArea">

            <h4 class="titleForm text-white">One-way ticket :</h4>

            <form action="/trips/tripsAvailable" method="POST">

              <div class="form-group">
              <input name="fromCity" type="text" class="form-control" placeholder="From: Paris, Marseille...">
              </div>

              <div class="form-group">
                <input name="toCity" type="text" class="form-control" placeholder="To: Lille, Nantes...">
              </div>


              <div class="datepicker date input-group">
                <input name="dateFromFront" type="text" placeholder="Choisir une date" class="form-control" id="reservationDate">
                <div class="input-group-append"><span class="input-group-text px-4"><i class="fa fa-calendar"></i></span></div>
            </div>

            
              <button type="submit" class="btn btn-danger mt-4">Go</button>
            </form>

          </div>

          <img class="my-5" src="/images/landmark.png" width="200" height="200">

        </div>

      </div>
    </div>

    <%- include('footer'); %>

 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- Extension DATEPICKER -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>   

<!-- Script pour activation du datepicker -->
<script src="/script.js"></script>

</body>

</html>